<div id="addUsersCtrlDiv" ng-controller="AddUsersCtrl as $ctrl" style="margin: 2%; box-sizing: border-box;">

    <table class="table" id="addUserTable" style="width: 50%; display:table;">

        <tr ng-repeat="info in fields track by $index">
            <td>
                {{info}}
            </td>
            <td>
                <input type="text" ng-model="userInfo[fieldKeys[$index]]" style="width:100%">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" class="btn btn-primary" ng-click="addUser($event)" >Add</button>
                <button type="button" class="btn btn-primary" ng-click="selectSpreadsheet($event)" >Upload Spreadsheet</button>
                <a href="/resources/userAddTemplate.xlsx" class="btn btn-primary" >Download Template</button>
                <input type="file" style="display: none" id="spreadsheetField" name="file" onchange="angular.element(this).scope().submitSpreadsheet(this.files)"/>
            </td>
        </tr>
    </table>

</div>