<div id="addUserBulkCtrlDiv" ng-controller="AddUserBulkCtrl as $ctrl" class="interfaceDiv">

    <div style="width: 100%;">
        <ul class="pagination" style="position: relative; float: left;">
          <li class="page-item" ng-click="firstPage()"><a class="page-link" href="">First</a></li>
          <li class="page-item" ng-click="prevPage()"><a class="page-link" href="">Previous</a></li>
          <li ng-repeat="pageNum in pageNumberArray" class="page-item" ng-click="changePage(pageNum)" ng-class="{active: pageNumber == pageNum}"><a class="page-link" href="">{{pageNum}}</a></li>
          <li class="page-item" ng-click="nextPage()"><a class="page-link" href="">Next</a></li>
          <li class="page-item" ng-click="lastPage()"><a class="page-link" href="">Last ({{numberOfPages}})</a></li>
        </ul>

        <div style="position: relative; float: right;">
            <button type="button" class="btn btn-success" style="float: right;" ng-click="bulkSubmit()">Submit All</button>
            <button type="button" class="btn btn-danger" style="float: right;" ng-click="setFilterStatus('conflicting')">Conflicts: {{metadata.conflicting}}</button>
            <button type="button" class="btn btn-danger" style="float: right;" ng-click="setFilterStatus('invalid')">Invalid: {{metadata.invalid}}</button>
            <button type="button" class="btn btn-secondary" style="float: right;" ng-click="setFilterStatus('existing')">Existing: {{metadata.existing}}</button>
            <button type="button" class="btn btn-secondary" style="float: right;" ng-click="setFilterStatus('valid')">Valid: {{metadata.valid}}</button>
        </div>
    </div>

    <table class="table table-bordered" id="editUserTable" style="border:0px;">
        <thead>
            <tr>
                <th ng-repeat="col in bulkFields track by $index">{{col}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="user in users track by $index" ng-init="rowIdx = $index" class="badRow">
                <td ng-repeat="fieldK in bulkKeys" ng-bind="user[fieldK]" ng-class="{badCell: fieldK=='comment' && (user.comment.invalidRole || user.comment.missingProjects.length || user.comment.missingAttributes.length || user.comment.conflictingAttributes)}"></td>
            </tr>
        </tbody>
    </table>
</div>