<div id="adminHelpDiv">
<h1>Admin Help Page</h1>

<p>Greetings, admin! Welcome to UTDesign GettIt, the fancy, new procurement system for UTDesign. Allow me to acquaint you with it!</p>

<p>You will notice at the top of the interface a &ldquo;Logout&rdquo; button. Clicking on the logout button will log you out of the system. </p>

<p>You will also notice eight (8) tabs. You&rsquo;re currently viewing the &ldquo;About/Help&rdquo; tab. The other seven (7) are:</p>

<p>Requests <br />
Edit Users <br />
Add Users <br />
View Costs<br />
Add Costs<br />
Edit Projects<br />
Add Projects</p>

<p>Let&rsquo;s discuss each of them.</p>

<p>Requests</p>

<p>The &ldquo;Requests&rdquo; interface allows you to view a list of all requests that have ever been submitted to you, including requests that since have have been cancelled, rejected by an admin, or successfully ordered. </p>

<p>By default, you will see a table of requests that displays:<br />
&ldquo;Request Number&rdquo;: a unique integer that differentiates each request from every other request saved in the system, including unsubmitted ones.<br />
&ldquo;Project Number&rdquo;: the project number of the project this request is for<br />
&ldquo;Status&rdquo;: the status of the request. <br />
&ldquo;Vendor&rdquo;: name of vendor the items will be ordered from. Each procurement request may have only one vendor<br />
&ldquo;URL&rdquo;: URL of the home page of the vendor&rsquo;s online storefront<br />
&ldquo;Total Cost&rdquo;: total cost of all items plus shipping<br />
&ldquo;Shipping Cost&rdquo;: the cost of shipping only; this will be set after your items have been ordered</p>

<p>If you click on any of the white rows of this table, the row will expand, revealing gray rows, each corresponding to an item; and optionally buttons, depending on the status of the request.</p>

<p>For each item, the following information is provided:<br />
&ldquo;Description&rdquo;: a brief verbal description of what the item is, e.g. &ldquo;screws&rdquo;<br />
&ldquo;Item URL&rdquo;: the URL of the item&rsquo;s online listing<br />
&ldquo;Catalog Part Number&rdquo;: the catalog part number of the item<br />
Quantity&rdquo;: how many of this item you wish to order; please give an integer<br />
&ldquo;Estimated Unit Cost&rdquo;: how much one of this item costs<br />
&ldquo;Total Cost&rdquo;: automatically figured out for you by the system</p>

<p>These buttons may include:<br />
&ldquo;Approve&rdquo;: mark the request as approved and waiting to be ordered<br />
&ldquo;Reject&rdquo;: reject the request. After you select this button, you will be prompted with a new display, with three? buttons and a ????<br />
&ldquo;Permanent Reject&rdquo;: reject the request such that it may no longer be edited<br />
&ldquo;Send for Updates, Return to Admin&rdquo;: send the request back to the students who created it and prompt them to make changes to it. When they are finished, it will return directly to you.<br />
&ldquo;Send for Updates, Return to Manager&rdquo;: send the request back to the students who created it and prompt them to make changes to it. When they are finished, it will be resubmitted to their technical manager for reapproval.<br />
&ldquo;Comments&rdquo;: a box to explain why you rejected the request or what changes should be made to it<br />
&ldquo;Edit Request&rdquo;: brings up a form allowing you to manually edit the procurement request yourself<br />
&ldquo;View History&rdquo;: brings up a table allowing you to view the history of the procurement request</p>

<p>
Edit Users</p>

<p>The &ldquo;Edit Users&rdquo; view allows you to view student information, search for students, and edit student information. </p>

<p>By default, you will see a table of users with the following columns:<br />
&ldquo;Project Number(s)&rdquo;<br />
&ldquo;First Name&rdquo;: first name of the student; can be edited<br />
&ldquo;Last Name&rdquo;: last name of the student; can be edited<br />
&ldquo;NetID&rdquo;: optional field, because not all users will have one. Every user who is a student should have one.<br />
&ldquo;Email&rdquo;: this field cannot be edited<br />
&ldquo;Course&rdquo;: p</p>

<p>Each row of this table is a user. At the far right of each row is an &ldquo;edit&rdquo; button. Clicking on this &ldquo;edit&rdquo; button will bring up a dialog box that allows you to edit the following fields of that user:<br />
&ldquo;Project Number(s)&rdquo;: if a user is assigned to multiple projects, separate each number with a comma<br />
&ldquo;First Name&rdquo;: first name of the student<br />
&ldquo;Last Name&rdquo;: last name of the student<br />
&ldquo;NetID&rdquo;: optional field, because not all users will have one. Every student should have one.<br />
&ldquo;Course&rdquo;</p>

<p>The following buttons at the bottom perform the following actions:<br />
&ldquo;Close&rdquo;: will close the dialog box and return you to the Edit Users screen<br />
&ldquo;Save&rdquo;: will save the changes you have made<br />
&ldquo;Deactivate&rdquo;: will prevent the user from using the system; cannot be undone</p>

<p>
Add Users</p>

<p>The &ldquo;Add Users&rdquo; view allows you to add users to the system. You may do so either <br />
one user at a time, or... <br />
in bulk by uploading an excel spreadsheet.</p>

<p>To add a single user, simply fill out the fields:<br />
&ldquo;Project Number(s)&rdquo;: if a user is assigned to multiple projects, separate each number with a comma<br />
&ldquo;First Name&rdquo;: first name of the student; can be edited later<br />
&ldquo;Last Name&rdquo;: last name of the student; can be edited later<br />
&ldquo;NetID&rdquo;: optional field, because not all users will have one. Every student should have one<br />
&ldquo;Email&rdquo;: this field cannot be edited later<br />
&ldquo;Course&rdquo;: the course number(s), e.g. CS 4485, that the student is enrolled in and working on a project for. If a user is enrolled in multiple courses, separate each number with a comma</p>

<p>Then click add to add a single user with the information you&rsquo;ve specified.</p>

<p>You may add multiple users at once by uploading a spreadsheet of users. To do this, click upload spreadsheet and select the .xlsx spreadsheet you would like to upload.</p>

<p>There is a spreadsheet template to follow when you create the spreadsheet you upload. The &ldquo;Download Template&rdquo; button will allow you to download a copy of this template.</p>

<p>View Costs</p>

<p>The &ldquo;View Costs&rdquo; interface allows you to view all costs that are not directly tied to procurement requests. </p>

<p>At the top of the interface is a search bar, allowing you to search for a cost.</p>

<p>A table shows information about each cost. Each row corresponds to a single cost. These costs come in three types:</p>

<p>&ldquo;Refund&rdquo;: money is returned to the project&rsquo;s budget<br />
&ldquo;Reimbursement&rdquo;: money is taken from the project&rsquo;s budget to reimburse a student who spent their own money on items<br />
&ldquo;New Budget&rdquo;: the total budget of the project is set to a new value</p>

<p>Each column of the table corresponds to the following information about each cost:</p>

<p>&ldquo;Timestamp&rdquo;: what time and date the cost was applied to the project<br />
&ldquo;Type&rdquo;: see above<br />
&ldquo;Comment&rdquo;: any comment made by the admin who applied the cost will display here<br />
&ldquo;Amount&rdquo;: how much money the cost is. Negative means this cost returns money to the project&rsquo;s budget. </p>

<p>If the type of the cost is &ldquo;New Budget&rdquo;, the &ldquo;amount&rdquo; of the cost is the new budget of the project and not the change in the budget. For example, if a project whose budget was $2000 had its budget increased by $1000, the &ldquo;amount&rdquo; of the new budget would be $3000.</p>

<p>Add Costs<br />
The &ldquo;Add Costs&rdquo; interface allows you to add costs to the system that are not directly tied to a procurement request. You may do so one at a time.</p>

<p>These costs come in three types:<br />
&ldquo;Refund&rdquo;: money is returned to the project&rsquo;s budget<br />
&ldquo;Reimbursement&rdquo;: money is taken from the project&rsquo;s budget to reimburse a student who spent their own money on items<br />
&ldquo;New Budget&rdquo;: the total budget of the project is set to a new value</p>

<p>To add a single cost, simply fill out the fields:<br />
&ldquo;Type&rdquo;: see above<br />
&ldquo;Project Number&rdquo;: which project this cost will apply to<br />
&ldquo;Comment&rdquo;: any additional information you would like to share goes here<br />
&ldquo;Amount&rdquo;: how much money the cost is; see below</p>

<p>If the type of the cost is &ldquo;New Budget&rdquo;, the &ldquo;amount&rdquo; of the cost is the new budget of the project and not the change in the budget. For example, if a project whose budget was $2000 had its budget increased by $1000, the &ldquo;amount&rdquo; of the new budget would be $3000.</p>

<p>If the type is &ldquo;refund&rdquo; or &ldquo;reimbursement&rdquo;, the &ldquo;amount&rdquo; of the cost is the amount that will be returned or debited to the cost.</p>

<p>Then click add to add a single cost with the information you&rsquo;ve specified.</p>

<p>Edit Projects</p>

<p>The &ldquo;Edit Projects&rdquo; interface allows you to view a table of projects in the system, and edit each one individually.</p>

<p>At the top of the interface, you may select which page of projects you&rsquo;d like to view; each page allows you to view at most 10 projects.</p>

<p>Each row of the table of projects corresponds to a project, and each column corresponds to the following:</p>

<p>&ldquo;Project Number&rdquo;: a unique number identifying each project<br />
&ldquo;Sponsor Name&rdquo;: the name of the project&rsquo;s sponsor<br />
&ldquo;Project Name&rdquo;: the name of the project<br />
&ldquo;Members Emails&rdquo;: a dropdown allowing you to see the email addresses of each member of the project<br />
&ldquo;Budget&rdquo;: the total maximum budget of the project</p>

<p>Next to each row of the table is an &ldquo;edit&rdquo; button, which brings up a form allowing you to edit the aforementioned information.</p>

<p>Members Emails may be separated by a comma if there is more than one email per project.</p>

<p>Add Projects</p>

<p>The &ldquo;Add Projects&rdquo; view allows you to add projects to the system. You may do so either <br />
one project at a time, or... <br />
in bulk by uploading an excel .xlsx spreadsheet.</p>

<p>To add a single project, simply fill out the fields:<br />
&ldquo;Project Number&rdquo;: a unique number identifying each project<br />
&ldquo;Sponsor Name&rdquo;: the name of the project&rsquo;s sponsor<br />
&ldquo;Project Name&rdquo;: the name of the project<br />
&ldquo;Members Emails&rdquo;: the users who will be assigned to the project, identified by their email address; email addresses should be separated by a comma<br />
&ldquo;Budget&rdquo;: the total maximum budget of the project; the default budget will be automatically filled in to the form</p>

<p>Then click add to add a single project with the information you&rsquo;ve specified.</p>

<p>You may add multiple project at once by uploading a spreadsheet of projects. To do this, click upload spreadsheet and select the .xlsx spreadsheet you would like to upload.</p>

<p>There is a spreadsheet template to follow when you create the spreadsheet you upload. The &ldquo;Download Template&rdquo; button will allow you to download a copy of this template.<br />
</p>
</div>
