<nav ng-controller="AdminNavCtrl" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav" style="width: 100%">
        <li class="nav-item">
            <a class="nav-link" href="/" style="color: white !important">UTDesign GettIt</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#requestSummary" ng-class="{active: activeTab == 'requestDashboard'}">Requests Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#addUsers" ng-class="{active: activeTab == 'addUsers'}">Add Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#editUsers" ng-class="{active: activeTab == 'editUsers'}">Edit Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#addCosts" ng-class="{active: activeTab == 'addCosts'}">Add Costs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#viewCosts" ng-class="{active: activeTab == 'viewCosts'}">View Costs</a>
        </li>
        <li class="nav-item" ng-show="showBulkAdd">
            <a class="nav-link" href="#addUserBulk" ng-class="{active: activeTab == 'addUserBulk'}" style="background-color: #a312c7 !important">Bulk User Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#addProjects" ng-class="{active: activeTab == 'addProjects'}">Add Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#editProjects" ng-class="{active: activeTab == 'editProjects'}">Edit Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#help" ng-class="{active: activeTab == 'help'}">About/Help</a>
        </li>
        <li class="nav-item ml-auto">
            <button type="button" class="btn btn-danger" ng-click="doLogout()">Logout</button>
        </li>
    </ul>
</nav>
