<div id="signInCtrlDiv" ng-controller="SignInCtrl" class="login-modal">
    <form ng-submit="doSignIn()" class="login-content">

        <h3>Sign In</h3>
        <h7>with your GettIt account</h7>

        <br>
        <br>

        <p>Email</p>
        <input type="text" ng-model="credentials.email">

        <br>
        <br>

        <div>
            <label style="float: left; display: inline-block">Password</label>
            <label style="float: right; display: inline-block">
                <a href="#forgotpassword">Forgot password?</a>
            </label>
        </div>
        <input type="password" ng-model="credentials.password">

        <br>
        <br>

        <button type="submit" class="btn btn-success">Sign In</button>

        <br>
        <br>

        <!--<a href="#forgotpassword" class="btn btn-danger">Forgot password?</a>-->

    </form>
</div>