<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">UTDesign Procurement System</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://zooey.is">Marcus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://google.com">Monica</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://jack.is">Jack</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://xander.is">Xander</a>
        </li>
    </ul>
</nav>