<div id="viewBudgetDiv" ng-controller="ManagerBudgetCtrl as $ctrl" style="margin: 2%; box-sizing: border-box;">
    <button type="button" class="btn btn-primary" style="inline-block" ng-repeat="(team, id) in teams" ng-click="regenerateTable($event)" id="btnTab{{team}}">
        {{team}}
    </button>

    <h5></h5>

    <div id="currentGroupBudget" style="display: none">
        <h3>Budget Limit: {{getMaxBudgetStr()}}</h3>
        <h3>Budget Available: {{getTotalStr()}}</h3>
        <h3>Budget Pending: {{getPendingStr()}}</h3>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th ng-repeat="field in fields">{{field}}</th>
            </tr>
        </thead>

        <tbody>

            <tr ng-repeat-start="dict in data" ng-click="toggleCollapse($event)">
                <td ng-repeat="fieldK in fieldKeys">{{dict[fieldK]}}</td>
            </tr>

            <tr ng-repeat-end  style="background-color: #999">
                <td colspan="7" style="padding: 0px;">
                    <table class="table table-bordered" style="margin-bottom: 0px; margin-left: 10px; width: calc(100% - 10px);">
                        <tr style="border-bottom: 1.5px solid black">
                            <td scope="col" style="background-color: #eee;">#</td>
                            <td scope="col" ng-repeat="field in itemFields" ng-bind="field" style="background-color: #eee;"></td>
                        </tr>

                        <tr ng-repeat="row in dict.items" ng-init="rowIdx = $index">

                            <td scope="row" ng-bind="rowIdx + 1" style="background-color: #eee;"></td>

                            <td class="cleanInputCell" ng-repeat="field in itemFieldKeys track by $index" ng-init="fieldIdx = $index" style="background-color: #eee;">
                                {{dict.items[rowIdx][field]}}
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>

        </tbody>

    </table>
</div>
