<div id="managerHelpDiv">

<p>Manager Help Page</p>

<p>Greetings, technical manager! Welcome to UTDesign GettIt, the fancy, new, and very sexy procurement system for UTDesign. Allow me to acquaint you with it!</p>

<p>You will notice at the top of the interface a &ldquo;Logout&rdquo; button. Clicking on the logout button will log you out of the system. </p>

<p>You will also notice three (3) tabs. You&rsquo;re currently viewing the &ldquo;About/Help&rdquo; tab. The other two (2) are:</p>

<p>Request Dashboard <br />
Budget</p>

<p>Let&rsquo;s discuss each of them.</p>

<p>Request Dashboard</p>

<p>The &ldquo;Request Dashboard&rdquo; view allows you to view a list of all requests that have ever been submitted to you, including requests that since have have been cancelled, rejected by an admin, or successfully ordered. </p>

<p>By default, you will see a table of requests that displays:<br />
&ldquo;Request Number&rdquo;: a unique integer that differentiates a request from every other request in the system, including unsubmitted ones.<br />
&ldquo;Project Number&rdquo;: the project number of the project this request is for. If you are assigned to only one project, this value will be the same for every request in your dashboard.<br />
&ldquo;Status&rdquo;: the status of the request. <br />
&ldquo;Vendor&rdquo;: name of vendor the items will be ordered from. Each procurement request may have only one vendor<br />
&ldquo;URL&rdquo;: URL of the home page of the vendor&rsquo;s online storefront<br />
&ldquo;Total Cost&rdquo;: total cost of all items plus shipping<br />
&ldquo;Shipping Cost&rdquo;: the cost of shipping only; this will be set after your items have been ordered</p>

<p>If you click on any of the white rows of this table, the row will expand, revealing gray rows, each corresponding to an item; and optionally buttons, depending on the status of the request.</p>

<p>For each item, the following information is provided:<br />
&ldquo;Description&rdquo;: a brief verbal description of what the item is, e.g. &ldquo;screws&rdquo;<br />
&ldquo;Item URL&rdquo;: the URL of the item&rsquo;s online listing<br />
&ldquo;Catalog Part Number&rdquo;: the catalog part number of the item<br />
Quantity&rdquo;: how many of this item you wish to order; please give an integer<br />
&ldquo;Estimated Unit Cost&rdquo;: how much one of this item costs<br />
&ldquo;Total Cost&rdquo;: automatically figured out for you by the system</p>

<p>These buttons include:<br />
&ldquo;Approve&rdquo;: approve the request and send it to an admin to be ordered.<br />
&ldquo;Reject&rdquo;: reject the request. After you select this button, you will be prompted with a new display, with two? buttons and a ????<br />
&ldquo;Permanent Reject&rdquo;: reject the request such that it may no longer be edited<br />
&ldquo;Send for Updates&rdquo;: send the request back to the students who created it and prompt them to make changes to it<br />
&ldquo;Comment&rdquo;: a box to explain why you rejected the request or what changes should be made to it</p>

<p>View Budgets</p>

<p>The budget view allows you to review the budget for your project(s), including seeing how much money is remaining of the budget and what expenditures have been made.</p>

<p>At the top of the view is at least one tab. Each tab corresponds to a project. If you&rsquo;re assigned to only one project, there will be only one tab.</p>

<p>The remainder of the page is separated into three separate tables:</p>

<p>The first table shows the following information:</p>

<p>Budget Limit: The total budget of the project<br />
Available Budget Remaining: how much money is left after all completed expenditures are taken into account, i.e. only ordered items<br />
Pending Budget Remaining: how much money is left after all completed and uncompleted expenditures are taken into account, i.e. both ordered items and unordered items</p>

<p>The second table shows how much has been spent or will be spent per procurement request. Each row of the table is one procurement request.</p>

<p>The following information is shown for each row:</p>

<p>&ldquo;Status&rdquo;: the status of the request. <br />
&ldquo;Vendor&rdquo;: name of vendor the items will be ordered from. Each procurement request may have only one vendor<br />
&ldquo;Subtotal&rdquo;: the total cost of all items in the request<br />
&ldquo;Shipping&rdquo;: the total cost of shipping<br />
&ldquo;Total Cost&rdquo;: the total cost of all items plus shipping</p>

<p>The third table shows all remaining costs tied to the project. Each row shows information about these costs. These costs come in three types:</p>

<p>Refund: money is returned to the project&rsquo;s budget<br />
Reimbursement: money is taken from the project&rsquo;s budget to reimburse a student who spent their own money on items<br />
New Budget: the total budget of the project is set to a new value</p>

<p>Each row of the table shows the following information about each cost:</p>

<p>&ldquo;Timestamp&rdquo;: what time and date the cost was applied to the project<br />
&ldquo;Type&rdquo;: see above<br />
&ldquo;Comment&rdquo;: any comment made by the admin who applied the cost will display here<br />
&ldquo;Amount&rdquo;: how much money the cost is. Negative means this cost returns money to the project&rsquo;s budget. </p>

<p>If the type of the cost is &ldquo;New Budget&rdquo;, the &ldquo;amount&rdquo; of the cost is the new budget of the project and not the change in the budget. For example, if a project whose budget was $2000 had its budget increased by $1000, the &ldquo;amount&rdquo; of the new budget would be $3000.<br />
</p>
</div>